﻿<div id="#MAP#UpdateGreekOrganizationEducationalInvolvementNameLinkGlobalChange">
  <h2 id="#MAP#FORMHEADER_value"></h2>
  <table style="width:480px;">
    <tr id="#MAP#LINKEXISTINGNAMEOPTIONS_container">
      <td></td>
      <td>
        <input id="#MAP#LINKEXISTINGNAMEOPTIONS_value" type="checkbox" style="width: auto;" />
        <label for="#MAP#LINKEXISTINGNAMEOPTIONS_value"></label>
      </td>
    </tr>
    <tr id="#MAP#EXPLANATIONOFLINK_container">
      <td colspan="2">
        <label id="#MAP#EXPLANATIONOFLINK_caption" for="#MAP#EXPLANATIONOFLINK_value" class="bbui-nocolon"></label>
      </td>
    </tr>
  </table>
  <!-- To define fields in multiple columns on the form, simply add/move the fields to this div
        <div class="bbui-forms-fieldset-column">
            <table>
            </table>
        </div>
        -->
</div>