﻿
<style type="text/css">
    ##MAP#AddDonationFormConfigurationAddDataForm {
        min-width: 750px;
    }

        ##MAP#AddDonationFormConfigurationAddDataForm .fill-x {
            width: 100%;
        }
</style>

<div id="#MAP#AddDonationFormConfigurationAddDataForm" class="bbui-forms-sizable">
    <h2 id="#MAP#FORMHEADER_value"></h2>

    <div class="bbui-forms-tabs-main bbui-forms-anchor-resizecolumns bbui-forms-anchor-right bbui-forms-anchor-bottom bbui-forms-guidedexperience">
        <div id="#MAP#MAININFO_caption">
            <table cellspacing="5px">
                <tr>
                    <td>
                        <table cellspacing="5px">
                            <tr id="#MAP#TITLE_container">
                                <td>
                                    <label id="#MAP#TITLE_caption" for="#MAP#TITLE_value"></label>
                                </td>
                                <td>
                                    <input id="#MAP#TITLE_value" type="text" />
                                </td>
                            </tr>
                            <tr id="#MAP#DESCRIPTION_container">
                                <td valign="top">
                                    <label id="#MAP#DESCRIPTION_caption" for="#MAP#DESCRIPTION_value"></label>
                                </td>
                                <td>
                                    <textarea id="#MAP#DESCRIPTION_value" rows="3" cols="1"></textarea>
                                </td>
                            </tr>
                            <tr id="#MAP#DONATIONFORMID_container">
                                <td>
                                    <label id="#MAP#DONATIONFORMID_caption" for="#MAP#DONATIONFORMID_value"></label>
                                </td>
                                <td>
                                    <input id="#MAP#DONATIONFORMID_value" type="text" />
                                </td>
                            </tr>
                            <tr id="#MAP#FRIENDLYURLSUFFIX_container">
                                <td valign="top">
                                    <label id="#MAP#FRIENDLYURLSUFFIX_caption" for="#MAP#FRIENDLYURLSUFFIX_value"></label>
                                </td>
                                <td>
                                    <input id="#MAP#FRIENDLYURLSUFFIX_value" type="text" />
                                </td>
                            </tr>
                            <tr id="#MAP#FRIENDLYURL_container">
                                <td valign="top">
                                    &nbsp;
                                </td>
                                <td>
                                    <span id="#MAP#FRIENDLYURL_value"></span>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table cellspacing="5px">
                            <tr id="#MAP#PAGEINTROID_container">
                                <td>
                                    <label id="#MAP#PAGEINTROID_caption" for="#MAP#PAGEINTROID_value"></label>
                                </td>
                                <td>
                                    <input id="#MAP#PAGEINTROID_value" type="text" />
                                </td>
                            </tr>
                            <tr id="#MAP#SIDEBARID_container">
                                <td>
                                    <label id="#MAP#SIDEBARID_caption" for="#MAP#SIDEBARID_value"></label>
                                </td>
                                <td>
                                    <input id="#MAP#SIDEBARID_value" type="text" />
                                </td>
                            </tr>
                            <tr id="#MAP#STARTDATE_container">
                                <td>
                                    <label id="#MAP#STARTDATE_caption" for="#MAP#STARTDATE_value"></label>
                                </td>
                                <td>
                                    <input id="#MAP#STARTDATE_value" type="text" />
                                </td>
                            </tr>
                            <tr id="#MAP#ENDDATE_container">
                                <td>
                                    <label id="#MAP#ENDDATE_caption" for="#MAP#ENDDATE_value"></label>
                                </td>
                                <td>
                                    <input id="#MAP#ENDDATE_value" type="text" />
                                </td>
                            </tr>
                            <tr id="#MAP#STATUSCODE_container">
                                <td>
                                    <label id="#MAP#STATUSCODE_caption" for="#MAP#STATUSCODE_value"></label>
                                </td>
                                <td>
                                    <span id="#MAP#STATUSCODE_value" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>




            </table>
            <table class="fill-x grouping" cellspacing="5px">
                <tr>
                    <td id="#MAP#PRECONFIGURATIONSGROUP_container">
                        <table class="fill-x">
                            <tr>
                                <td>
                                    <h3 id="#MAP#PRECONFIGURATIONSGROUP_value" />
                                </td>
                            </tr>
                            <tr id="#MAP#PRECONFIGURATIONS_container">
                                <td>
                                    <div class="bbui-forms-toolbar" style="width:700px;">
                                        <button id="#MAP#DELETEPRECONFIGURATIONS_action"></button>
                                    </div>
                                    <div id="#MAP#PRECONFIGURATIONS_value" style="height: 300px; width: 700px;" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div id="#MAP#GIVINGINFO_caption">
            <table class="fill-x grouping" cellspacing="5px">
                <tr>
                    <td id="#MAP#GIVINGLEVELGROUP_container">
                        <table class="fill-x">
                            <tr>
                                <td>
                                    <h3 id="#MAP#GIVINGLEVELGROUP_value" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="bbui-forms-toolbar" style="width: 700px;">
                                                    <button id="#MAP#MOVEUP_action"></button>
                                                    <button id="#MAP#MOVEDOWN_action"></button>

                                                    <span class="bbui-forms-toolbar-separator"></span>

                                                    <button id="#MAP#ASCEND_action"></button>
                                                    <button id="#MAP#DESCEND_action"></button>

                                                    <span class="bbui-forms-toolbar-separator"></span>

                                                    <button id="#MAP#DELETEGIVINGLEVEL_action"></button>

                                                </div>
                                                <div id="#MAP#GIVINGLEVELS_value" style="height: 300px; width: 700px;">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table>
                                        <tr id="#MAP#SHOWOTHERAMOUNTS_container">
                                            <td>
                                                &nbsp;
                                            </td>
                                            <td>
                                                <input id="#MAP#SHOWOTHERAMOUNTS_value" type="checkbox" style="width: auto;" />
                                                <label for="#MAP#SHOWOTHERAMOUNTS_value"></label>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table>
                                        <tr id="#MAP#AMOUNTSDISPLAYMETHODCODE_container">
                                            <td>
                                                <label id="#MAP#AMOUNTSDISPLAYMETHODCODE_caption" for="#MAP#AMOUNTSDISPLAYMETHODCODE_value"></label>
                                            </td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <input id="#MAP#AMOUNTSDISPLAYMETHODCODE_0" name="#MAP#AMOUNTSDISPLAYMETHODCODE" type="radio" value="0" />
                                                            <label for="#MAP#AMOUNTSDISPLAYMETHODCODE_0"></label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input id="#MAP#AMOUNTSDISPLAYMETHODCODE_1" name="#MAP#AMOUNTSDISPLAYMETHODCODE" type="radio" value="1" />
                                                            <label for="#MAP#AMOUNTSDISPLAYMETHODCODE_1"></label>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div id="#MAP#DESIGNATIONINFO_caption">
            <table class="fill-x grouping" cellspacing="5px">
                <tr>
                    <td id="#MAP#DESIGNATIONGROUP_container">
                        <table class="fill-x">
                            <tr>
                                <td>
                                    <h3 id="#MAP#DESIGNATIONGROUP_value" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="bbui-forms-toolbar" style="width: 700px;">
                                                    <button id="#MAP#MOVEDESIGNATIONUP_action"></button>
                                                    <button id="#MAP#MOVEDESIGNATIONDOWN_action"></button>

                                                    <span class="bbui-forms-toolbar-separator"></span>

                                                    <button id="#MAP#DESIGNATIONASCEND_action"></button>
                                                    <button id="#MAP#DESIGNATIONDESCEND_action"></button>

                                                    <span class="bbui-forms-toolbar-separator"></span>
                                                    <button id="#MAP#DELETEDESIGNATION_action"></button>
                                                </div>
                                                <div id="#MAP#DESIGNATIONS_value" style="height: 300px; width: 700px;" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table>
                                        <tr id="#MAP#SHOWOTHERDESIGNATIONS_container">
                                            <td>
                                                &nbsp;
                                            </td>
                                            <td>
                                                <input id="#MAP#SHOWOTHERDESIGNATIONS_value" type="checkbox" style="width: auto;" />
                                                <label for="#MAP#SHOWOTHERDESIGNATIONS_value"></label>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table>
                                        <tr id="#MAP#DESIGNATIONDISPLAYMETHODCODE_container">
                                            <td>
                                                <label id="#MAP#DESIGNATIONDISPLAYMETHODCODE_caption" for="#MAP#DESIGNATIONDISPLAYMETHODCODE_value"></label>
                                            </td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <input id="#MAP#DESIGNATIONDISPLAYMETHODCODE_0" name="#MAP#DESIGNATIONDISPLAYMETHODCODE" type="radio" value="0" />
                                                            <label for="#MAP#DESIGNATIONDISPLAYMETHODCODE_0"></label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input id="#MAP#DESIGNATIONDISPLAYMETHODCODE_1" name="#MAP#DESIGNATIONDISPLAYMETHODCODE" type="radio" value="1" />
                                                            <label for="#MAP#DESIGNATIONDISPLAYMETHODCODE_1"></label>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


<!-- To define fields in multiple columns on the form, simply add/move the fields to this div
  <div class="bbui-forms-fieldset-column">
      <table>
      </table>
  </div>
  -->
</div>