﻿<div id="#MAP#OnlineGivingConfigurationViewDataForm">
  <table>
    <tr id="#MAP#FRIENDLYURL_container">
      <td>
        <span id="#MAP#FRIENDLYURL_caption" class="bbui-forms-captionlight"></span>
      </td>
      <td>
        <span id="#MAP#FRIENDLYURL_value"></span>
      </td>
    </tr>
    <tr id="#MAP#GIVINGLEVELS_container">
      <td>
        <span id="#MAP#GIVINGLEVELS_caption" class="bbui-forms-captionlight"></span>
      </td>
      <td>
          <span id="#MAP#GIVINGLEVELS_value" style="height: 100px; width: 400px;" />
      </td>
    </tr>
    <tr id="#MAP#DESIGNATIONS_container">
      <td>
        <span id="#MAP#DESIGNATIONS_caption" class="bbui-forms-captionlight"></span>
      </td>
      <td>
          <span id="#MAP#DESIGNATIONS_value" style="height: 100px; width: 400px;" />
      </td>
    </tr>
    <tr id="#MAP#PRECONFIGURATIONS_container">
      <td>
        <span id="#MAP#PRECONFIGURATIONS_caption" class="bbui-forms-captionlight"></span>
      </td>
      <td>
          <span id="#MAP#PRECONFIGURATIONS_value" style="height: 100px; width: 400px;" />
      </td>
    </tr>
  </table>
  <!-- To define fields in multiple columns on the form, simply add/move the fields to this div
        <div class="bbui-forms-fieldset-column">
            <table>
            </table>
        </div>
        -->
</div>