﻿
<style type="text/css">
    ##MAP#OnlineGivingPageContentAddForm {
        min-width: 650px;
    }

</style>
<div id="#MAP#OnlineGivingPageContentAddForm" class="bbui-forms-sizable">
    <h2 id="#MAP#FORMHEADER_value"></h2>
    <table>
        <tr id="#MAP#TITLE_container">
            <td valign="top">
                <label id="#MAP#TITLE_caption" for="#MAP#TITLE_value"></label>
            </td>
            <td valign="top">
                <input id="#MAP#TITLE_value" type="text" />
            </td>
            <td valign="top">
                <label id="#MAP#DESCRIPTION_caption" for="#MAP#DESCRIPTION_value"></label>
            </td>
            <td>
                <textarea id="#MAP#DESCRIPTION_value" rows="3" cols="1"></textarea>
            </td>
        </tr>
        <!--<tr id="#MAP#DESCRIPTION_container">
            
        </tr>
         id="#MAP#PAGECONTENTTYPECODE_container">
            <td>
                <label id="#MAP#PAGECONTENTTYPECODE_caption" for="#MAP#PAGECONTENTTYPECODE_value"></label>
            </td>
            <td>
                <input id="#MAP#PAGECONTENTTYPECODE_value" type="text" />
            </td>
        </tr>-->
        <tr id="#MAP#HTML_container">
            <td colspan="4">
                <div id="#MAP#HTML_value" style="height: 350px; width: 600px;"></div>
            </td>
        </tr>
    </table>
    <!-- To define fields in multiple columns on the form, simply add/move the fields to this div
          <div class="bbui-forms-fieldset-column">
              <table>
              </table>
          </div>
          -->
<!--SCRIPT:/browser/htmlforms/custom/zurigroup.tcu.onlinegiving/OnlineGivingPageContentAddForm.js-->
</div>