﻿<div id="#MAP#ConstituentOnlineContactRequestsQueryListFilter">
    <table>
        <tr id="#MAP#SUBMITTEDON_container">
            <td>
                <label id="#MAP#SUBMITTEDON_caption" for="#MAP#SUBMITTEDON_value"></label>
            </td>
            <td>
                <input id="#MAP#SUBMITTEDON_value" type="text" />
            </td>
            <td>
                <label id="#MAP#STARTDATE_caption" for="#MAP#STARTDATE_value"></label>
            </td>
            <td>
                <input id="#MAP#STARTDATE_value" type="text" />
            </td>
            <td>
                <label id="#MAP#ENDDATE_caption" for="#MAP#ENDDATE_value"></label>
            </td>
            <td>
                <input id="#MAP#ENDDATE_value" type="text" />
            </td>
    </table>
    <!-- To define fields in multiple columns on the form, simply add/move the fields to this div
          <div class="bbui-forms-fieldset-column">
              <table>
              </table>
          </div>
          -->
</div>