﻿<div id="#MAP#OnlineContactRequestDetailsViewDataForm">
    <table>
        <tr>
            <td style="vertical-align:top;">
                <table>
                    <tr id="#MAP#NAME_container">
                        <td style="width:90px;">
                            <span id="#MAP#NAME_caption" class="bbui-forms-captionlight"></span>
                        </td>
                        <td>
                            <span id="#MAP#NAME_value"></span>
                        </td>
                    </tr>
                    <tr id="#MAP#BIRTHLASTNAME_container">
                        <td style="width:90px;">
                            <span id="#MAP#BIRTHLASTNAME_caption" class="bbui-forms-captionlight"></span>
                        </td>
                        <td>
                            <span id="#MAP#BIRTHLASTNAME_value"></span>
                        </td>
                    </tr>
                    <tr id="#MAP#CLASSYEAR_container">
                        <td style="width:90px;">
                            <span id="#MAP#CLASSYEAR_caption" class="bbui-forms-captionlight"></span>
                        </td>
                        <td>
                            <span id="#MAP#CLASSYEAR_value"></span>
                        </td>
                    </tr>
                    <tr id="#MAP#PHONENUMBER_container">
                        <td style="width:90px;">
                            <span id="#MAP#PHONENUMBER_caption" class="bbui-forms-captionlight"></span>
                        </td>
                        <td>
                            <span id="#MAP#PHONENUMBER_value"></span>
                        </td>
                    </tr>
                    <tr id="#MAP#EMAILADDRESS_container">
                        <td style="width:90px;">
                            <span id="#MAP#EMAILADDRESS_caption" class="bbui-forms-captionlight"></span>
                        </td>
                        <td>
                            <span id="#MAP#EMAILADDRESS_value"></span>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="vertical-align:top;">
                <table>
                    <tr id="#MAP#DATESUBMITTED_container">
                        <td>
                            <span id="#MAP#DATESUBMITTED_caption" class="bbui-forms-captionlight"></span>
                        </td>
                        <td>
                            <span id="#MAP#DATESUBMITTED_value"></span>
                        </td>
                    </tr>
                    <tr id="#MAP#PROCESSEDIMAGE_container">
                        <td>
                            <span id="#MAP#PROCESSEDIMAGE_caption" class="bbui-forms-captionlight"></span>
                        </td>
                        <td>
                            <span id="#MAP#PROCESSEDIMAGE_value"></span>
                        </td>
                    </tr>
                    <tr id="#MAP#DATEPROCESSED_container">
                        <td>
                            <span id="#MAP#DATEPROCESSED_caption" class="bbui-forms-captionlight"></span>
                        </td>
                        <td>
                            <span id="#MAP#DATEPROCESSED_value"></span>
                        </td>
                    </tr>
                    <tr id="#MAP#REGISTEREDIMAGE_container">
                        <td>
                            <span id="#MAP#REGISTEREDIMAGE_caption" class="bbui-forms-captionlight"></span>
                        </td>
                        <td>
                            <span id="#MAP#REGISTEREDIMAGE_value"></span>
                        </td>
                    </tr>
                    <tr id="#MAP#LINKEDIMAGE_container">
                        <td>
                            <span id="#MAP#LINKEDIMAGE_caption" class="bbui-forms-captionlight"></span>
                        </td>
                        <td>
                            <span id="#MAP#LINKEDIMAGE_value"></span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table>
                    <tr id="#MAP#SUBJECT_container">
                        <td style="width:90px;">
                            <span id="#MAP#SUBJECT_caption" class="bbui-forms-captionlight"></span>
                        </td>
                        <td>
                            <span id="#MAP#SUBJECT_value"></span>
                        </td>
                    </tr>
                    <tr id="#MAP#MESSAGE_container">
                        <td colspan="2">
                            <span id="#MAP#MESSAGE_caption" class="bbui-forms-captionlight"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width:500px">
                            <span id="#MAP#MESSAGE_value"></span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>