<%@ assembly Name="ZuriGroup.TCU.OnlineGiving.BBIS.Web"%>
<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="SidebarContentDisplay.ascx.vb" Inherits="ZuriGroup.TCU.OnlineGiving.BBIS.Web.SidebarContentDisplay" %>
<%@ import Namespace="ZuriGroup.TCU.OnlineGiving.BBIS.Web"%>
<asp:Label ID="lblError" runat="server" Font-Bold="true" ForeColor="red" />
<div id="txthtml" runat="server"></div>