﻿<table>
    <tr>
        <td>
            <label id="#MAP#PAGEID_caption" for="#MAP#PAGEID_value"></label>
        </td>
        <td>
            <input id="#MAP#PAGEID_value" type="text" class="bbui-forms-s" />
        </td>
        <td>
            <label id="#MAP#SITEID_caption" for="#MAP#SITEID_value"></label>
        </td>
        <td>
            <input id="#MAP#SITEID_value" type="text" class="bbui-forms-s" />
        </td>
        <td>
            <label id="#MAP#CURRENTSTATUS_caption" for="#MAP#CURRENTSTATUS_value"></label>
        </td>
        <td>
            <input id="#MAP#CURRENTSTATUS_value" type="text" class="bbui-forms-s" />
        </td>
    </tr>
    <tr>
        <td>
            <label id="#MAP#DATEUPDATED_caption" for="#MAP#DATEUPDATED_value"></label>
        </td>
        <td>
            <input id="#MAP#DATEUPDATED_value" type="text" class="bbui-forms-s" />
        </td>
        <td>
            <label id="#MAP#STARTDATE_caption" for="#MAP#STARTDATE_value"></label>
        </td>
        <td>
            <input id="#MAP#STARTDATE_value" type="text" class="bbui-forms-s" />
        </td>
        <td>
            <label id="#MAP#ENDDATE_caption" for="#MAP#ENDDATE_value"></label>
        </td>
        <td>
            <input id="#MAP#ENDDATE_value" type="text" class="bbui-forms-s" />
        </td>
    </tr>
    <tr id="#MAP#CONSTITUENTID_container">
        <td>
            <label id="#MAP#CONSTITUENTID_caption" for="#MAP#CONSTITUENTID_value"></label>
        </td>
        <td colspan="5">
            <input id="#MAP#CONSTITUENTID_value" type="text" />
        </td>
    </tr>
</table>