﻿<div id="#MAP#ProfileUpdateHistoryDetailsViewDataForm">
    <table>
        <tr id="#MAP#BATCHSTATUS_container">
            <td>
                <span id="#MAP#BATCHSTATUS_caption" class="bbui-forms-captionlight"></span>
            </td>
            <td>
                <span id="#MAP#BATCHSTATUS_value"></span>
            </td>
            <td>
                <span id="#MAP#DATECOMMITTED_caption" class="bbui-forms-captionlight"></span>
            </td>
            <td>
                <span id="#MAP#DATECOMMITTED_value"></span>
            </td>
        </tr>
        <tr id="#MAP#BATCHTEMPLATE_container">
            <td>
                <span id="#MAP#BATCHTEMPLATE_caption" class="bbui-forms-captionlight"></span>
            </td>
            <td>
                <span id="#MAP#BATCHTEMPLATE_value"></span>
            </td>
            <td>
                <span id="#MAP#BATCHNUMBER_caption" class="bbui-forms-captionlight"></span>
            </td>
            <td>
                <span id="#MAP#BATCHNUMBER_value"></span>
            </td>
        </tr>
        <tr id="#MAP#BATCHDESCRIPTION_container">
            <td>
                <span id="#MAP#BATCHDESCRIPTION_caption" class="bbui-forms-captionlight"></span>
            </td>
            <td colspan="3">
                <span id="#MAP#BATCHDESCRIPTION_value" class="bbui-pre"></span>
            </td>
        </tr>

    </table>
    <!-- To define fields in multiple columns on the form, simply add/move the fields to this div
          <div class="bbui-forms-fieldset-column">
              <table>
              </table>
          </div>
          -->
</div>