﻿<div id="#MAP#FormBuilderSubmissionSummaryViewDataForm">
  <div class="bbui-forms-fieldset-column">
    <table>
      <tr id="#MAP#DATESUBMITTED_container">
        <td>
          <span id="#MAP#DATESUBMITTED_caption" class="bbui-forms-captionlight"></span>
        </td>
        <td>
          <span id="#MAP#DATESUBMITTED_value"></span>
        </td>
      </tr>
      <tr id="#MAP#NAME_container">
        <td>
          <span id="#MAP#NAME_caption" class="bbui-forms-captionlight"></span>
        </td>
        <td>
          <span id="#MAP#NAME_value"></span>
        </td>
      </tr>
      <tr id="#MAP#CONSTITUENTLOOKUPID_container">
        <td>
          <span id="#MAP#CONSTITUENTLOOKUPID_caption" class="bbui-forms-captionlight"></span>
        </td>
        <td>
          <span id="#MAP#CONSTITUENTLOOKUPID_value"></span>
        </td>
      </tr>
      <tr id="#MAP#USERNAME_container">
        <td>
          <span id="#MAP#USERNAME_caption" class="bbui-forms-captionlight"></span>
        </td>
        <td>
          <span id="#MAP#USERNAME_value"></span>
        </td>
      </tr>
      <tr id="#MAP#DATEPROCESSED_container">
        <td>
          <span id="#MAP#DATEPROCESSED_caption" class="bbui-forms-captionlight"></span>
        </td>
        <td>
          <span id="#MAP#DATEPROCESSED_value"></span>
        </td>
      </tr>
      <tr id="#MAP#PROCESSEDBY_container">
        <td>
          <span id="#MAP#PROCESSEDBY_caption" class="bbui-forms-captionlight"></span>
        </td>
        <td>
          <span id="#MAP#PROCESSEDBY_value"></span>
        </td>
      </tr>
    </table>
  </div>
  <div class="bbui-forms-fieldset-column">
    <table>
      <tr id="#MAP#FORMNAME_container">
        <td>
          <span id="#MAP#FORMNAME_caption" class="bbui-forms-captionlight"></span>
        </td>
        <td>
          <span id="#MAP#FORMNAME_value"></span>
        </td>
      </tr>
      <tr id="#MAP#SITECONTENTNAME_container">
        <td>
          <span id="#MAP#SITECONTENTNAME_caption" class="bbui-forms-captionlight"></span>
        </td>
        <td>
          <span id="#MAP#SITECONTENTNAME_value"></span>
        </td>
      </tr>
      <tr id="#MAP#SITEPAGESNAME_container">
        <td>
          <span id="#MAP#SITEPAGESNAME_caption" class="bbui-forms-captionlight"></span>
        </td>
        <td>
          <span id="#MAP#SITEPAGESNAME_value"></span>
        </td>
      </tr>
      <tr id="#MAP#CLIENTSITESNAME_container">
        <td>
          <span id="#MAP#CLIENTSITESNAME_caption" class="bbui-forms-captionlight"></span>
        </td>
        <td>
          <span id="#MAP#CLIENTSITESNAME_value"></span>
        </td>
      </tr>
    </table>
  </div>
</div>